<!--
  ~ Vytvořeno jako studentský zápočtový projekt v rámci studia FIM UHK.
  ~ 2021 - Petr Veselý
  -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: site-head">
    <title>Title</title>
</head>
<body>
<header th:include="layout :: site-header"></header>

<div class="title"><p>
    <H1>Edit Specimen</H1></p></div>
<div class="content">
    <form action="" enctype="multipart/form-data" th:action="@{'/checkout/edit-specimen/' + ${spec.getItemid()}}"
          th:object="${spec}" method="post">
        <H3>Item:</H3>
        <p>Item name: <input type="text" th:field="*{name}" th:value="${spec.getName()}"/></p>
        <p>Quantity: <input type="number" th:field="*{quantity}" th:value="${spec.getQuantity()}"/></p>
        <p>Description: <input type="text" th:field="*{description}" th:value="${spec.getDescription()}"/></p>
        <p><img th:attr="src=@{'data:' + ${spec.getPhoto().getDataType()} + ';base64,' + ${spec.getPhoto().getImage()}}"
                class="avi"/></p>
        <p>Upload photo:<input type="file" name="file"/></p>
        <p>
            <tr>
        <p>
        <h3>Categories: </h3></p>
        <td>
            <th:block th:each="cat : ${categories}">
                <input type="checkbox" name="cats" th:field="*{itemCodebook}" th:value="${cat.getItemcodebookid()}"/>
                <label th:text="${cat.getCategoryName()}"></label>
            </th:block>
        </td>
        </tr>
        </p><p>
        <H3>Specimen info:</H3>
        </p>
        <p>
        <p>Additional info: <input type="text" th:field="*{specimenDetails.additionalInfo}"/></p>
        <tr>
            <p>
            <h3>Privilege level: </h3></p>
            <td>
                <th:block th:each="priv : ${privileges}">
                    <input type="checkbox" name="cats" th:field="*{specimenDetails.privilegeCategory}"
                           th:value="${priv.getPrivilegelevelcodebookid()}"/>
                    <label th:text="${priv.getPrivilegeLevelTitle()}"></label>
                </th:block>
            </td>
        </tr>
        </p>
        <input class="button" type="submit" value="SAVE"/>
    </form>
    <p></p>
</div>
<footer th:include="layout :: site-footer"></footer>

</body>
</html>
